<h1><%= @title_text%></h1>
<p><%=@subtitle_text%></p>
<div class="text-center">
  <h1 class="mb-5">welcome to ONE month ruby course</h1>
<h3>Destination for web developers who aspire to be the best </h3>  
</div>
